<%= bootstrap_form_with model: @post, local: true do |form| %>
  <%= form.text_field :title %>
  <%= form.text_area :content, rows: "10" %> 
  <span>Who can see?</span>
  <%= form.radio_button :permission, 'all', inline: true %>
  <%= form.radio_button :permission, 'friend', inline: true %>
  <%= form.radio_button :permission, 'myself', inline: true %>
  <%= form.collection_check_boxes :category_ids, Category.all, :id, :name, label: "Category:", inline: true %>
  <label for="image">Image</label>
  <div class="image-upload">
    <%= image_tag @post.image.url, width: '300px', class: "img-thumbnail" if @post.image? %>
    <%= form.hidden_field(:image_cache) %>
    <%= form.file_field_without_bootstrap :image, class: "form-control-file" %>
  </div>
  <!-- 2 submit button for draft/publish -->
  <%= form.submit "Save Draft", class: "btn btn-secondary" %>
  <%= form.submit "Submit", class: "btn btn-primary" %>     
<% end %>