<!-- user page 上半部 -->
<div class="user-up">
  <div class="container">
    <div class="row">
      <div class="col-3 user-profile">
        <%= image_tag @user.avatar.url, class: "user-avatar img-thumbnail" %>
        <%= link_to @user.name, user_path(@user) %>
        <br>
        <% if @user == current_user %>
          <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
        <% end %>
        <%= render partial: "share/add_friend", locals: { user: @user } %>   
      </div>
      <div class="col-8">
        <h5>Introduction:</h5>
        <%= @user.introduction %>
      </div>        
    </div>
  </div>
</div>
 
<!-- user page 下半部 -->
<div class="container">
  <!-- NAV 標籤 -->
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#my-post">My Post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#my-comment">My Comment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#my-collect">My Collect</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#my-draft">My Draft</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#my-friend">My Friend</a>
    </li>
  </ul>

  <!-- NAV 內容 -->
  <div class="tab-content">
    <!-- My Post -->
    <div class="tab-pane fade show active" id="my-post">
      <%= render partial: "share/user_post", locals: { posts: @myposts } %>
    </div>

    <!-- My Comment -->
    <div class="tab-pane fade" id="my-comment">
      <table class="table">
        <tbody>
          <% @mycomments.each do |reply| %>
            <tr id="whole-<%= reply.id %>">
              <td>
                <%= link_to reply.post.title, post_path(reply.post) %>               
                <div id="reply-<%= reply.id %>"><%= reply.content %></div>
                <div id="date-<%= reply.id %>"><%= reply.updated_at.localtime.to_s(:long) %></div>                    
              </td>
              <% if @user == current_user %>
                <td>
                  <div id="button-<%= reply.id %>">
                    <%= link_to 'Edit', edit_reply_path(reply), remote: true, class: "btn btn-outline-primary btn-sm" %>
                    <%= link_to 'Delete', reply_path(reply), remote: true, method: :delete, :data => { :confirm => "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- My Collect -->
    <div class="tab-pane fade" id="my-collect">
      <%= render partial: "share/user_post", locals: { posts: @mycollects } %>
    </div>

    <!-- My Draft -->
    <div class="tab-pane fade" id="my-draft">
      <%= render partial: "share/user_post", locals: { posts: @mydrafts } %>
    </div>

    <!-- My Friend -->
    <div class="tab-pane fade" id="my-friend">
      <!-- Waiting for response -->
      <div class="waiting">
        <h5>Waiting for response</h5>
        <% @waitings.each do |user|%>
          <%= render partial: "share/friend_list", locals: { user: user } %>
        <% end %>
      </div>
      <!-- My Friend Request -->
      <div class="requesting">
        <h5>My Requests</h5>
        <% @requests.each do |user|%>
          <%= render partial: "share/friend_list", locals: { user: user } %>
        <% end %>
      </div>
      <!-- My Friend -->
      <div class="friend">
        <h5>My Friends</h5>
        <% @friends.each do |user|%>
          <%= render partial: "share/friend_list", locals: { user: user } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
