<h1>New Post</h1>

<%= form_with model: @post do |form| %>
  <p>Title:</p>
  <%= form.text_field :title %>
  <p>Content:</p>
  <%= form.text_area :content %> 
  <br>
  <span>Draft?</span>
  <%= form.check_box :draft %>
  <br>
  <span>Who can see?</span>
  <%= form.radio_button :permission, 'all' %>All
  <%= form.radio_button :permission, 'friend' %>Friend
  <%= form.radio_button :permission, 'myself' %>Myself
  <p>Category:</p>
  <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <br>
  <p>Image:</p>
  <%= image_tag @post.image, width: '300px' if @post.image? %>
  <%= form.file_field :image %>
  <br>
  <%= form.submit %>
<% end %>