<h1>New Post</h1>

<%= form_with model: @post do |form| %>
  <p>Title:</p>
  <%= form.text_field :title %>
  <p>Content:</p>
  <%= form.text_area :content %> 
  <br>
  <span>Draft?</span>
  <%= form.check_box :draft %>
  <br>
  <p>Category:</p>
  <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <br>
  <%= form.submit %>
<% end %>