<h1><%= @post.title %></h1>
<div>
  <%= @post.user.name %>
</div>
<div>
  <%= image_tag @post.image.url if @post.image? %>
</div>
<div>
  <%= @post.content %>
</div>
<% if current_user == @post.user %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
<hr>
<!-- other info for test -->
Draft:<p><%= @post.draft %></p>
Permission:<p><%= @post.permission %></p>
Category:
<p>
  <% @post.categories.each do |category| %>
    <%= category.name %>,
  <% end %>
</p>
