<div class="container">
  <div class="row post-nav">
    <ul class="nav">
      <li class="nav-item">
        <h1><%= @post.title %></h1>
        Update: <%= @post.edit_time.localtime.to_s(:long) %>
      </li>
      <li class="nav-item">
        <% @post.categories.each do |category| %>
          <span class="badge badge-pill badge-info"><%= category.name %></span>        
        <% end %> 
      </li>
    </ul> 
  </div>
  
  <!-- post area -->
  <div class="row">
    <div class="col-2 post-table post-user-table">
      <%= image_tag @post.user.avatar.url, class: "post-avatar img-thumbnail" %>
      <%= link_to @post.user.name, user_path(@post.user) %>
      <br>
      <% if @post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-info" %>
        <br>
        <% if @post.draft %>
          <span class="badge badge-secondary">Draft</span>    
        <% else %>
          <span class="badge badge-success">Published</span>
        <% end %>
        <br>
        Permission:
        <span class="badge badge-primary"><%= @post.permission.upcase %></span>
      <% end %>
    </div>
    <div class="col-10 post-table">
      <div>
        <% if @post.image? %>
          <%= image_tag @post.image.url, class: "post-image rounded mx-auto d-block" %>
          <hr>
        <% end %>
        <%= @post.content %>    
      </div>
      <% if @post.user == current_user || current_user.role == "admin" %>
        <div class="post-btn">
          <%= link_to 'Delete', post_path(@post), method: :delete, :data => { :confirm => "Are you sure?" }, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- reply display area -->
  <div class="row reply-row">
    <% @replies.each do |reply| %>
      <div class="col-2 post-table post-user-table">
        <%= image_tag reply.user.avatar.url, class: "post-avatar img-thumbnail" %>
        <%= link_to reply.user.name, user_path(reply.user) %>
      </div>
      <div class="col-10 post-table">
        <%= reply.created_at.localtime.to_s(:long) %>
        <hr>
        <%= reply.content %>
      </div>
    <% end %>
  </div>

  <!-- create reply area -->
  <div class="row">
    <div class="col-12 post-table">
      <%= form_with model: [ @post, @reply ] do |form|  %>
        <%= form.text_area :content, placeholder: "留下你的回覆...", class: "form-control reply-form", rows: "4" %>
        <%= form.submit '留言', class: "btn btn-primary" %>
      <% end %>    
    </div>
  </div>
</div>


