<div class="container">
  <div class="row post-nav">
    <ul class="nav">
      <li class="nav-item">
        <h1><%= @post.title %></h1>
      </li>
      <li class="nav-item">
        <% @post.categories.each do |category| %>
          <span class="badge badge-pill badge-info"><%= category.name %></span>        
        <% end %> 
      </li>
    </ul> 
  </div>
  
  <!-- post area -->
  <div class="row">
    <div class="col-2 post-table post-user-table">
      <%= image_tag @post.user.avatar.url, class: "post-avatar img-thumbnail" %>
      <%= link_to @post.user.name, user_path(@post.user) %>
      <br>
      <% if @post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-info" %>
        <br>
        <% if @post.draft %>
          <span class="badge badge-success">Published</span>
        <% else %>
          <span class="badge badge-secondary">Draft</span>
        <% end %>
        <br>
        Permission:
        <span class="badge badge-primary"><%= @post.permission.upcase %></span>
      <% end %>
    </div>
    <div class="col-10 post-table">
      <% if @post.image? %>
        <%= image_tag @post.image.url, class: "post-image rounded mx-auto d-block" %>
        <hr>
      <% end %>
      <%= @post.content %>
    </div>
  </div>
</div>


