<div class="container">
  <div class="row post-nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <h1><%= @post.title %></h1>
        Update: <%= @post.edit_time.localtime.to_s(:long) %>
      </li>
      <li class="nav-item">
        <% @post.categories.each do |category| %>
          <span class="badge badge-pill badge-info"><%= category.name %></span>        
        <% end %>
        <% if @post.user == current_user %>
          | Status:
          <% if @post.draft %>
            <span class="badge badge-secondary">Draft</span>    
          <% else %>
            <span class="badge badge-success">Published</span>
          <% end %>
          Permission:
          <span class="badge badge-primary"><%= @post.permission.upcase %></span>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-button">
      <li class="nav-item" id="collect-buuton">
        <% if @post.is_collected?(current_user) %>        
          <%= render partial: "uncollect" %>
        <% else %>
          <%= render partial: "collect" %>
        <% end %>
      </li>
    </ul>  
  </div>
  
  <!-- post area -->
  <div class="row">
    <div class="col-2 post-table post-user-table">
      <%= image_tag @post.user.avatar.url, class: "post-avatar img-thumbnail" %>
      <%= link_to @post.user.name, user_path(@post.user) %>
      <%= render partial: "share/add_friend", locals: { user: @post.user } %>
    </div>
    <div class="col-10 post-table">
      <div>
        <% if @post.image? %>
          <%= image_tag @post.image.url, class: "post-image rounded mx-auto d-block" %>
          <hr>
        <% end %>
        <div id="post-content">
          <%= @post.content %> 
        </div>
      </div>

      <!-- post action button area -->
      <div class="post-button-area">
        <% if @post.user == current_user %>
          <div class="post-btn post-left">
            <%= link_to 'Modify', modify_post_path(@post), remote: true, class: "btn btn-primary" %>
            <%= link_to 'To Edit', edit_post_path(@post), class: "btn btn-info" %>
          </div>
          <div class="post-btn post-right">
            <%= link_to 'Delete', post_path(@post), method: :delete, :data => { :confirm => "Are you sure?" }, class: "btn btn-danger" %>
          </div>
        <% elsif current_user.role == "admin" %>
            <div class="post-btn post-right">
              <%= link_to 'Delete', post_path(@post), method: :delete, :data => { :confirm => "Are you sure?" }, class: "btn btn-danger" %>
            </div>
        <% end %>        
      </div>

    </div>
  </div>

  <!-- reply display area -->
  
  <% @replies.each do |reply| %>
    <div class="row reply-row" id="whole-<%= reply.id %>">
      <div class="col-2 post-table post-user-table">
        <%= image_tag reply.user.avatar.url, class: "post-avatar img-thumbnail" %>
        <%= link_to reply.user.name, user_path(reply.user) %>
        <%= render partial: "share/add_friend", locals: { user: reply.user } %>
      </div>
      <div class="col-10 post-table">
        <strong>Last Updated: </strong>   
        <div id="date-<%= reply.id %>"><%= reply.updated_at.localtime.to_s(:long) %></div>
        <hr>
        <div id="reply-<%= reply.id %>"><%= reply.content %></div> 
        <div class="post-btn post-right" id="button-<%= reply.id %>">
          <% if reply.user == current_user %>
            <%= link_to 'Edit', edit_reply_path(reply), remote: true, class: "btn btn-outline-primary btn-sm" %>
            <%= link_to 'Delete', reply_path(reply), remote: true, method: :delete, :data => { :confirm => "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%== pagy_nav_bootstrap(@pagy) %>
  
  <!-- create reply area -->
  <div class="row">
    <div class="col-12 post-table">
      <%= form_with model: [ @post, @reply ] do |form|  %>
        <%= form.text_area :content, placeholder: "留下你的回覆...", class: "form-control reply-form", rows: "4" %>
        <%= form.submit '留言', class: "btn btn-primary" %>
      <% end %>    
    </div>
  </div>
</div>


