<!DOCTYPE html>
<html>
  <head>
    <title>DojoForum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- 導覽列 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to('Dojo', root_path, class: "navbar-brand") %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Feeds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">All Post</a>
          </li>
          <li class="nav-item">
            <%= link_to('New Post', new_post_path, class: "nav-link") %>
          </li>
        </ul>
        <% if current_user %>
          <ul class="navbar-nav ml-auto">
            <!-- 使用者下拉選單 -->
            <li class="nav-item dropdown">
              <a class="dropdown-toggle btn navbar-btn-1" data-toggle="dropdown">個人</a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item"><%= link_to('個人檔案', user_path(current_user)) %></li>
                <li class="dropdown-item"><%= link_to('登出', destroy_user_session_path, method: :delete) %></li>
                <% if current_user && current_user.admin? %>
                  <div class="dropdown-divider"></div>
                  <li class="dropdown-item"><%= link_to '管理者後台', admin_root_path %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item btn navbar-btn-1"><%= link_to('註冊', new_user_registration_path) %></li>
            <li class="nav-item btn navbar-btn-1"><%= link_to('登入', new_user_session_path) %></li>
          </ul>
        <% end %>       
      </div>
    </nav>
    
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <% end %>

    <%= yield %>
  </body>
</html>
